body {
  z-index: 1;
}

#wrapper {
  padding: 0;
  height: auto !important; 
  height: 100%; min-height: 100%;
  position: relative;
  transition: background 0.2s ease;

  > .inner {
    position: relative;
    padding: 0 0 10em;
  }
}

main {
  position: relative;
  text-align: left;
  margin: 0 auto;
}

::selection {
  background: #a6e27d; 
  color: #fff;
}
::-moz-selection {
  background: #a6e27d; 
  color: #fff;
}

header,
div,
.logo,
section,
input {
  box-sizing: border-box;
}

i {
  font-style: normal;
}

a {
  color: inherit;
  font-weight: 400;
  text-decoration: none;
  -moz-transition: color .2s;
  -webkit-transition: color .2s;
  transition: color .2s;
}

a:hover { color: #000; }

/* Helpers */

.cols-2 {
  .col-1 {
    width: 50%;
    float: left;
  }
}

.cols-3 {
  .col-1 {
    width: 33%;
    float: left;
  }
}
